export(dfMetadata)
export(is.dfMetadata)
S3method(as.dfMetadata, default)
S3method(as.dfMetadata, dfMetadata)
S3method(as.dfMetadata, list)
S3method(as.dfMetadata, data.frame)
S3method(as.data.frame, dfMetadata)
S3method(as.list, dfMetadata)
S3method(print, dfMetadata)
S3method(varType, dfMetadata)
S3method(`varType<-`, dfMetadata)
S3method(varCoerce, dfMetadata)
S3method(`varCoerce<-`, dfMetadata)
S3method(naOk, dfMetadata)
S3method(`naOk<-`, dfMetadata)
S3method(varDefault, dfMetadata)
S3method(`varDefault<-`, dfMetadata)
S3method(`key<-`, dfMetadata)
S3method(`[`, dfMetadata)
S3method(`[<-`, dfMetadata)
S3method(`[[<-`, dfMetadata)
export(allowNewColumns)
export(`allowNewColumns<-`)
S3method(`names<-`, dfMetadata)
S3method(c, dfMetadata)
export(metadata)
export(`metadata<-`)
export(key)
export(`key<-`)
export(keys)
export(varType)
export(`varType<-`)
export(varCoerce)
export(`varCoerce<-`)
export(naOk)
export(`naOk<-`)
export(varDefault)
export(`varDefault<-`)
export(as.varMetadata)
export(as.dfMetadata)
export(as.mframe)
S3method(metadata, default)
S3method(key, default)
S3method(`key<-`, default)
S3method(varType, default)
export(mframe)
export(is.mframe)
S3method(as.mframe, default)
S3method(as.data.frame, mframe)
S3method(customAttrNames, mframe)
S3method(print, mframe)
S3method(metadata, mframe)
S3method(`metadata<-`, mframe)
S3method(varType, mframe)
S3method(`varType<-`, mframe)
S3method(varCoerce, mframe)
S3method(`varCoerce<-`, mframe)
S3method(naOk, mframe)
S3method(`naOk<-`, mframe)
S3method(varDefault, mframe)
S3method(`varDefault<-`, mframe)
S3method(key, mframe)
S3method(`key<-`, mframe)
S3method(keys, mframe)
S3method(`[`, mframe)
S3method(`[<-`, mframe)
S3method(`[[<-`, mframe)
export(varMetadata)
export(is.varMetadata)
S3method(as.varMetadata, default)
S3method(as.character, varMetadata)
S3method(as.list, varMetadata)
S3method(print, varMetadata)
export(varType.varMetadata)
export(`varType<-.varMetadata`)
export(varCoerce.varMetadata)
export(`varCoerce<-.varMetadata`)
export(naOk.varMetadata)
export(`naOk<-.varMetadata`)
export(varDefault.varMetadata)
export(`varDefault<-.varMetadata`)
S3method(`$`, varMetadata)
S3method(`$<-`, varMetadata)
S3method(c, varMetadata)
export(enforce)
import(ppTools)
